* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightskyblue;
}

li {
    list-style: none;
}

nav {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

nav li {
    padding: 10px;
}

.dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown-items {
    display: flex;
}

.dropdown-items li {
    padding: 10px;
}