{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Book Store{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>

    <header class="flex justify-between items-center">
        <a href="{% url 'store:product_all' %}">BookStore</a>
        <nav class="flex items-center">

            <ul class="flex flex-col items-center">
                <a href="#">Library</a>
                <ul class="flex">
                    <li class="p-8"><a href="">All</a></li>
                    {% for c in categories %}
                    <li class="p-8"><a href="{{ c.get_absolute_url }}">{{ c.name|title }}</a></li>
                    {% endfor %}
                </ul>
            </ul>
        </nav>
        <div>
            <a href="#">Sign Up</a>
            <a href="{% url 'cart:cart_summary' %}">Cart</a>
        </div>
    </header>



    <main>{% block content %} {% endblock %}</main>
    
</body>
</html>