{% extends "./base.html" %}

{% load static %}

{% block title %} 
{% if category %} {{ category.name|title}} {% else %} {{ Products }} {% endif %} 
{% endblock %}

{% block content %}

{% comment %} Page that shows all of the books of the ___ category {% endcomment %}

    <section>
        <h2>{{category.name|capfirst}} Category</h2>
    </section>

    <section>
        {% for product in products %}
            <div class="">
                <img class="" src="{{ product.image.url }}" alt="book image">
                <div class="">
                    <p class="">
                        <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                    </p>
                </div>
            </div>
        {% endfor %}
    </section>


{% endblock %}
