{% extends "./base.html" %}

{% load static %}

{% block title %} Book Store | Home {% endblock %}

{% block content %} 

    <section>
        <h2>Our incredible collection of books!</h2>
    </section>

    <section>
        {% for product in products %}
            <div class="">
                <img class="" src="{{ product.image.url }}" alt="book image">
                <div class="flex">
                    <p class="">
                        <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                    </p>
                </div>
            </div>
        {% endfor %}
    </section>


{% endblock %}
