{% extends "./base.html" %}

{% load static %}

{% block title %} {{ product.title }} {% endblock %}

{% block content %} 

    <div>
        <img src="{{ product.image.url }}" alt="book image">
        <h2>{{ product.title }}</h2>
        <span>By: {{ product.author }}</span>
        <p>{{ product.description }}</p>
        <span>Buy now for just {{ product.price }}</span>
        <button type="button" id="add-button" value="{{product.id}}">Add to Cart</button>
    </div>

<script>
    $(document).on('click', '#add-button', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "cart:cart_add" %}',
            data: {
                productid: $('#add-button').val(),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'
            },

            success: function (json) {

            },
            error: function(xhr, errmsg, err) {}
        });
    })
</script>

{% endblock %}