{% extends "./base.html" %}

{% load static %}

{% block title %} {{ product.title }} {% endblock %}

{% block content %} 

    <div>
        <img src="{{ product.image.url }}" alt="book image">
        <h2>{{ product.title }}</h2>
        <span>By: {{ product.author }}</span>
        <p>{{ product.description }}</p>
        <span>Buy now for just {{ product.price }}</span>

        <label for="select">Qty</label>
        <select id="select">
            <option value="">1</option>
            <option value="">2</option>
            <option value="">3</option>
            <option value="">4</option>
        </select>

        <button type="button" id="add-button" value="{{product.id}}">Add to Cart</button>
    </div>

<script>
    $(document).on('click', '#add-button', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "cart:cart_add" %}',
            data: {
                productid: $('#add-button').val(),
                productqty: $('#select option:selected').text(),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'
            },

            success: function (json) {
                document.querySelector("#cart-qty").innerHTML = json.qty

            },
            error: function(xhr, errmsg, err) {}
        });
    })
</script>

{% endblock %}